html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "notification" "header" "hero" "additions" "featured" "contact" "footer"; }

.additions > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "additionsTitle aViewmore" "cardContainer cardContainer";
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.notification {
  grid-area: notification; }

header {
  grid-area: header; }

.hero {
  grid-area: hero; }

.additions {
  grid-area: additions; }

.additions > .container h2 {
  grid-area: additionsTitle; }

.additions > .container a#viewmore {
  grid-area: aViewmore; }

.additions > .container .card-container {
  grid-area: cardContainer;
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-template-columns: 17% 17% 17% 17% 17%;
  grid-template-areas: "area1 area2 area3 area4 area5"; }
  .additions > .container .card-container .area1 {
    grid-area: area1; }
  .additions > .container .card-container .area2 {
    grid-area: area2; }
  .additions > .container .card-container .area3 {
    grid-area: area3; }
  .additions > .container .card-container .area4 {
    grid-area: area4; }
  .additions > .container .card-container .area5 {
    grid-area: area5; }

.featured {
  grid-area: featured;
  display: grid;
  grid-template-columns: 8% 84% 8%; }
  .featured .featured-item {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column-gap: 3rem; }
    .featured .featured-item h2 {
      grid-area: featuredTitle;
      grid-column: 2/3;
      grid-row: 1/2; }
    .featured .featured-item img {
      grid-area: featuredImage;
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: end; }
    .featured .featured-item .featured-text {
      grid-area: featuredText;
      grid-column: 2/3;
      grid-row: 2/3; }

.contact {
  grid-area: contact; }

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: -webkit-max-content auto auto;
  grid-template-columns: max-content auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-areas: "footerLogo legal footerNav"; }
  footer #footer-logo {
    grid-area: footerLogo;
    grid-column: 1;
    padding-right: 2.7rem; }
  footer .legal {
    grid-area: legal;
    display: grid;
    justify-self: start;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 1.7rem; }
  footer .footer-nav {
    grid-area: footerNav;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 1.7rem; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.4rem;
  grid-template-areas: "firstName lastName" "email phone" "other other"; }
  form #first_name {
    grid-area: firstName; }
  form #last_name {
    grid-area: lastName; }
  form #email {
    grid-area: email; }
  form #phone {
    grid-area: phone; }
  form #other {
    grid-area: other; }

@media (max-width: 1023px) {
  .additions > .container .card-container {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-areas: "area1 area1 area2 area2 area3 area3" "area4 area4 area4 area5 area5 area5 "; }
    .additions > .container .card-container .area4 {
      grid-column: 2/4; }
    .additions > .container .card-container .area5 {
      grid-column: 4/6; }
  footer {
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: "footerLogo legal" "footerLogo footerNav"; }
    footer .legal {
      justify-self: end;
      grid-gap: 0.5rem; }
    footer .footer-nav {
      justify-self: end;
      grid-gap: 0.6rem; } }

@media (max-width: 767px) {
  .additions > .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "additionsTitle" "aViewmore" "cardContainer"; }
  .additions > .container .card-container {
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-areas: "area1 area1 area2 area2" "area3 area3 area4 area4" "area5 area5 area5 area5"; }
    .additions > .container .card-container .area4 {
      grid-column: 3/5; }
    .additions > .container .card-container .area5 {
      grid-column: 2/4; }
  form {
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
    grid-template-areas: "firstName" "lastName" "email" "phone" "other"; }
  .featured {
    grid-area: featured;
    grid-template-columns: 12% 76% 12%; }
    .featured .featured-item {
      display: grid;
      grid-template-columns: 1fr; }
      .featured .featured-item h2 {
        grid-column: 1/2;
        grid-row: 1/2; }
      .featured .featured-item img {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: end;
        width: 100%; }
      .featured .featured-item .featured-text {
        grid-column: 1/2;
        grid-row: 2/3; } }

@media (max-width: 639px) {
  .additions > .container .card-container {
    grid-template-columns: 1fr;
    grid-template-areas: "area1" "area2" "area3" "area4" "area5"; }
    .additions > .container .card-container .area4 {
      grid-column: 1/2; }
    .additions > .container .card-container .area5 {
      grid-column: 1/2; } }

html {
  font-size: 16px;
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 20px; } }
  @media screen and (max-width: 1023px) {
    html {
      font-size: 18px; } }

body {
  background-color: #FFFFFF; }

a {
  color: #707070; }

p {
  line-height: 1.6rem;
  padding-bottom: 1rem; }

h2 {
  font-size: 1.7rem;
  font-weight: 800;
  padding: 2.5rem 0; }

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 1rem; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px; }

.submit-button {
  display: block;
  background-color: #C5C5C5;
  color: #707070;
  font-size: 1.3rem;
  padding: 1rem 2.3rem;
  margin: 2.1rem auto; }

h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 800; }

.notification {
  background-color: #C5C5C5;
  padding: 1.5rem; }
  .notification a {
    color: #707070; }

header {
  background-color: #6A6A6A;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.2rem; }
  header img {
    width: auto;
    height: 2.1rem; }
  header nav {
    grid-column: 2; }
  header ul {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header ul li a {
      padding: 10px;
      color: #fff; }
  header #menu {
    display: none;
    color: #fff; }
  @media (max-width: 1023px) {
    header {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: unset; }
      header #menu {
        display: block;
        text-align: right;
        padding: 1.5rem;
        text-transform: uppercase; }
      header ul {
        grid-template-columns: 1fr;
        display: none; }
      header ul.active {
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 0rem;
        text-align: right; }
        header ul.active li a {
          display: block;
          padding: 0.5rem 1.5rem 0.5rem 0; } }

.hero {
  background-color: #4E4E4E;
  height: 19rem;
  position: relative; }
  @media (max-width: 767px) {
    .hero {
      height: 10rem; } }
  .hero .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 800; }

.additions {
  color: #707070; }
  .additions .card-container {
    margin-bottom: 1rem; }
    .additions .card-container .card .card-title {
      font-weight: 700;
      font-size: 1.2rem;
      margin-top: 2.3rem; }
    .additions .card-container .card .card-description {
      line-height: 1.6rem; }
    .additions .card-container .card > img {
      width: 100%; }
  .additions .container {
    padding: 0 2rem; }
    .additions .container a#viewmore {
      font-size: 1.1rem;
      text-align: right; }
    @media (max-width: 1023px) {
      .additions .container p {
        padding-bottom: 0; }
      .additions .container .card-container .card {
        margin-bottom: 2rem; }
        .additions .container .card-container .card .card-title {
          margin-top: 1rem; }
        .additions .container .card-container .card .card-description {
          line-height: 1.6rem; } }
    @media (max-width: 767px) {
      .additions .container h2 {
        padding-bottom: 1rem; }
      .additions .container a#viewmore {
        padding-bottom: 1rem;
        text-align: left; } }

.featured {
  color: #707070;
  background-color: #C5C5C5; }
  .featured .featured-item {
    width: 60%;
    margin: 0 auto 5.9rem auto; }
    .featured .featured-item h2 {
      padding: 3.9rem 0; }
  @media (max-width: 767px) {
    .featured .featured-item {
      width: 95%;
      margin: 0 auto 2rem auto; }
      .featured .featured-item h2 {
        padding: 2rem 0; } }

.contact {
  color: #707070;
  width: 45%;
  margin: auto; }
  .contact input {
    padding: 1rem;
    font-size: 1rem;
    border: solid 1px #707070; }
  .contact input:focus {
    border: solid 2px #707070; }
  .contact form {
    padding: 2rem 0; }
  @media (max-width: 1023px) {
    .contact {
      width: 70%; } }
  @media (max-width: 767px) {
    .contact {
      width: 90%; } }

footer {
  background-color: #4E4E4E;
  padding: 1.5rem;
  margin-top: 1.5rem; }
  @media (max-width: 767px) {
    footer {
      padding: 0.7rem; } }
  footer a {
    color: #fff;
    line-height: 1.6rem; }
    @media (max-width: 767px) {
      footer a {
        font-size: 0.8rem; } }
  footer img {
    width: auto;
    height: 2.2rem; }

.featured .featured-item {
  display: none; }

.prevDiv,
.nextDiv {
  position: relative;
  background-color: rgba(0, 0, 0, 0.04); }

.prevDiv:hover,
.nextDiv:hover {
  background-color: rgba(0, 0, 0, 0.12); }

.prev,
.next {
  cursor: pointer;
  padding: 0 2rem;
  font-size: 5rem;
  color: #707070;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 1023px) {
    .prev,
    .next {
      padding: 0; } }

.next {
  right: 0; }
