$white: #fff;

$primary: #707070;
$primary-dark: #4E4E4E;
$primary-light: #6A6A6A;
$light-bg: #C5C5C5;

$header-bg: $primary-light;
$hero-bg: $primary-dark;
$footer-bg: $primary-dark;

$body-bg: #FFFFFF;
$notification-bg: $light-bg;
$featured-bg:#D1D1D1;
